.footerBlock {
  /* min-height: 100vh; */
  background-color: #ceecff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.title {
  background-color: #eeeee5;
}
