.skillsBlock {
  min-heightmin: 100vh;
  background-color: #d4ffc0;

  /* align-items: center; */
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: #eeeee5;
}

.skills {
  width: 100%;
  border: 1px solid;
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 40px; */
}
