.mainBlock {
  min-height: 100vh;
  background-color: #ffd4f0;
}

.container {
  border: 1px solid;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
   /*justify-content: space-around; */
}
.text {
  width: 300px;
  background-color: #a9a9a9;
  /*width: 10cm;*/
}
.photo {
  width: 300px;
  background-color: #f7f7f7;
  height: 400px;
}
