.ContactsFormBlock {
  background-color: #f4ffb3;

  /* align-items: center; */
}

.ContactsFormContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: #eeeee5;
}
/* 
.skills {
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
